// @theme "/nix/store/47mr008zwp869c76gsq26r24phg2anai-rofi-1.7.0/share/rofi/themes/Pop-Dark.rasi"
@theme "/nix/store/47mr008zwp869c76gsq26r24phg2anai-rofi-1.7.0/share/rofi/themes/glue_pro_blue.rasi"
